/*Style for whole page*/
body {
    margin: 0;
    line-height: 1.1;
    font-family: "Arial Regular", sans-serif;
    background-color: #e9eaea;
    color: white;
}

/*Header block*/
.header {
    height: 85px;
    background-color: #3e3e43;
}

/*Block for buttons in header*/
.headerButtonsBlock {
    min-width: 110px;
    max-width: 240px;
    margin: auto;
    height: 100%;
}

/* Style link as button */
.linkButton {
    float: left;
    margin: auto;
    display: inline-block;
    background-color: #6e6d6d;
    width: 100px;
    height: 25px;
    border: 1px solid white;      
    margin-left: 10px;
    margin-top: 30px;
}

.linkButton:hover {
    opacity: 0.8;
}

.linkButton:active {
    background: linear-gradient(#404040, #090909);
}

/*Position and styling link inside block*/
.linkButton a {
    text-decoration: none;
    color: #e9eaea;
    margin-top: 5px;
    text-align: center;
    display: block;
}

/*Footer style*/
.footer {
    position: absolute;
    bottom: 10px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background-color: #3e3e43;
    color: white;
}


.contentBlock {
    width: 40%;
    margin: auto;
    color: black;
    text-align: justify;
    word-spacing: normal;
}